<h2>Post</h2>

<div style = "border:4px solid #777; border-radius:30px; width: 400px; text-align: center" >
<%=@row['content']%><br>
<%=@row['created_date']%>
</div>

<h4>Comments</h4>
<ul>
<%@comments.each do |comment|%>
    <li>
      <div style='font-size:75%; color: grey'><%=comment['created_date']%><br> </div>
      <%=comment['content']%>
    </li>
<%end%>
</ul>


<h4> Add comment:</h4>

<form action="/detales/<%=@row['id']%>" method="POST" role="form">
  <textarea name="comment" class="form-control" rows="6" placeholder="Type your comment" style="width:400px"></textarea>

  <button style="margin:10px" type="submit" class="btn btn-primary">Add commen</button>
</form>